.containerFranquicias{
    display: flex;
    text-align: center;
    justify-content: center;
}

.pFranquicias{
    margin-left: 2rem;
}

.containerImgFranq{
    display: flex;
    justify-content: center;
}