
h1, h2{
    color: #f2f2f2;
}
h1 {
    font-size: 4rem;
    margin-top: 1.5rem;}
h2 {
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: 1.5rem;
}

.containerIndex {
    display: flex;
}

.h1Index {
    flex-direction: column;
 justify-content: center;
   text-align: center;
   margin: auto;
}
.textoIndex {
    justify-content: center;
    text-align: center;
    margin: auto;

}

.carouselContainer {
    width: 60%;
    margin: auto;
    justify-content: center;
    text-align: center;
}