

.btn:hover{
    background-color: #e40e80;
}

.containerPedidos{
    display: flex;
    margin-bottom: 2rem;
}

.textPedidos {
    justify-content: center;
    text-align: center;
    margin: auto;
}



.containerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}


.buttonFont{
    font-family: 'Bungee Inline', cursive;
}

.pedidosImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1.5rem;
}
